<section class="sidebar">
  <div class="sidebar__header">
    <img src="https://e7.pngegg.com/pngimages/799/987/png-clipart-computer-icons-avatar-icon-design-avatar-heroes-computer-wallpaper.png"
         alt="human"
         mat-card-avatar
         class="hello">
    <div class="sidebar__header__icons">
      <button mat-icon-button>
        <mat-icon>refresh</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button [mat-menu-trigger-for]="menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button>Logout</button>
      </mat-menu>
    </div>

  </div>

  <div class="sidebar__searchbar">
    <div class="sidebar__searchbar__content">
      <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <button mat-icon-button class="sidebar__searchbar__content__icon">
        <mat-icon>search_outline</mat-icon>
        </button>
        <input type="text"
               class="sidebar__searchbar__content__input"
               name="search"
               placeholder="search chat here"
               ngModel>
        <button type="submit" style="display: none"></button>
      </form>
    </div>
  </div>

  <div class="sidebar__content">
    <ng-container>
      <app-sidebar-content></app-sidebar-content>
    </ng-container>
  </div>
</section>
